$navbar-default-bg: #01579B;
$navbar-height: 30px;
$navbar-default-brand-color: #ffffff;
$table-bg: #EEEEEE;
$body-bg: #F5F5F5;
$nav-pills-active-link-hover-bg: #424242;
$nav-pills-active-link-hover-color: #ffffff;
$link-color: #607D8B;
 @import "bootstrap-sprockets";
 @import "bootstrap";

.sidenav {
background-color: #f1f1f1;
height: auto;
padding: 15px;
}

.row.content {height: auto}

.body {
  background-color: #212121;
}
